# -----------------------
# Pawbs Engine .gitignore
# -----------------------

# Pawbs Engine
src/tests

# Shortcuts
_Run Game.url
_Run Game.lnk
_Run Game Locally.url
_Publish Game.lnk
_Start Dedicated Server.lnk
_Start Signaling Server.lnk
_Start HTTP Server.lnk

# Build
src-tauri/target
node_modules
dist
dist-ssr
*.local

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# VSCode
.vscode
.VSCodeCounter

# Claude
.claude

# Other
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?