# -----------------------
# Pawbs Engine .gitignore
# -----------------------

# Pawbs Engine
src/tests

# Shortcuts
_Run Game (Local).url
_Run Game (Remote).url
_Run Game (Tauri).lnk
_Publish Game (Fly.io).lnk
_Start Dedicated Server.lnk
_Start Signaling Server.lnk
_Start HTTP Server.lnk

# Build
src-tauri/target
node_modules
dist
dist-ssr
*.local

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# VSCode
.vscode
.VSCodeCounter

# Claude
.claude
.claudeignore

# Other
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?