/* HTML Elements */
body {
	margin: 0;
	overflow: hidden;
}

button { 
	margin: 10px; 
	padding: 10px 20px; 
	font-size: 20px; 
}


/* three.js Renderer */
#renderer {
	position: fixed;
	top: 0;
	z-index: -11111;
}


/* Menu UIs */

/* Main Menu */
#menu { 
	position: absolute; 
	top: 50%; 
	left: 50%; 
	transform: translate(-50%, -50%); 
	display: block; 
	flex-direction: column; 
	align-items: center;
}


/* Game UI Elements */

/* Player Crosshair */
.crosshair {
	position: absolute;
	left: 50%;
	top: 50%;
	width: 20px;
	height: 20px;
	background: transparent;
	transform: translate(-50%, -50%);
}
.crosshair:before, .crosshair:after {
	content: '';
	position: absolute;
	background: white;
}
.crosshair:before {
	width: 2px;
	height: 100%;
	left: 50%;
	transform: translateX(-50%);
}
.crosshair:after {
	height: 2px;
	width: 100%;
	top: 50%;
	transform: translateY(-50%);
}


/* Editor UI Elements */

/* Colour Picker */
#editor-selected-objects-materials-colour-picker {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.editor-selected-objects-materials-colour-grid {
    display: grid;
    grid-template-columns: repeat(8, 16px);
    grid-gap: 5px;
}
.editor-selected-objects-materials-colour-cell {
    width: 16px;
    height: 16px;
    cursor: pointer;
    border: 1px solid #000;
}
.editor-selected-objects-materials-colour-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#editor-selected-objects-materials-selected-colour {
    padding: 5px;
    text-align: center;
    width: 150px;
    border: 1px solid #000;
}


/* Utility */
.small-important {
	font-size: .875em !important;
}

.mt-2px {
	margin-top: 2px;
}

.w-36px {
	width: 36px;
}


/* Third-Party Library Overrides */

/* Bootstrap Tooltip */
.tooltip-inner {
	color: #ffffff;
	background-color: #6c757d;
	box-shadow: 0px 0px 4px black;
	opacity: 1 !important;
}
.tooltip.bs-tooltip-right .tooltip-arrow::before {
	border-right-color: #6c757d !important;
}
.tooltip.bs-tooltip-left .tooltip-arrow::before {
	border-left-color: #6c757d !important;
}
.tooltip.bs-tooltip-bottom .tooltip-arrow::before {
	border-bottom-color: #6c757d !important;
}
.tooltip.bs-tooltip-top .tooltip-arrow::before {
	border-top-color: #6c757d !important;
}

/* Bootstrap Accordion */
.accordion-title {
	display: flex;
	align-items: center;
	padding: .375rem .75rem;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: var(--bs-body-color);
	text-align: center;
	white-space: nowrap;
	background-color: var(--bs-tertiary-bg);
	border-top: var(--bs-border-width) solid var(--bs-border-color);
	border-bottom: var(--bs-border-width) solid var(--bs-border-color);
}
.accordion-button {
	color: #000;
	background-color:#f8f9fa;
}
.accordion-button:focus {
	box-shadow: none;
}
.accordion-button:not(.collapsed) {
	color: #000;
	background-color:#f8f9fa;
	box-shadow: none;
}
.accordion-item {
	border-top-left-radius: 0px !important;
	border-top-right-radius: 0px !important;
	border-bottom-left-radius: 0px !important;
	border-bottom-right-radius: 0px !important;
	border-top: none;
	border-bottom: none;
	border-left: var(--bs-accordion-border-width) solid var(--bs-accordion-border-color);
	border-right: var(--bs-accordion-border-width) solid var(--bs-accordion-border-color);
}
.accordion-collapse.show {
	border-bottom: var(--bs-accordion-border-width) solid var(--bs-accordion-border-color) !important;
}