/* -------------------
Pawbs Engine style.css
--------------------*/

/* HTML Elements */
body {
	margin: 0px;
	overflow: hidden;
	background-color: #ffffff;
}
h1 {
	color: #643200;
}
h2 {
	color: #643200;
}
h3 {
	color: #643200;
}
button { 
	margin: 10px; 
	padding: 10px 20px; 
	font-size: 20px; 
}

/* three.js Renderer */
#renderer {
	position: fixed;
	top: 0px;
	z-index: -11111;
}


/* Menu UIs */

/* Main Menu */
#menu-main { 
	position: absolute; 
	top: 50%; 
	left: 50%; 
	transform: translate(-50%, -50%); 
	display: block; 
	flex-direction: column; 
	align-items: center;
}

/* Options Menu */
#options-player-colour-picker {
	display: flex;
	flex-direction: column;
	align-items: center;
}
#options-player-colour-grid {
	display: grid;
	grid-gap: 5px;
	grid-template-columns: repeat(8, 16px);
}
.options-player-colour-cell {
	width: 16px;
	height: 16px;
	cursor: pointer;
	border: 1px solid #000000;
}
#options-player-colour-info {
	display: flex;
	flex-direction: column;
	align-items: center;
}
#options-player-selected-colour {
	padding: 0px;
	text-align: center;
	width: 150px;
	border: 1px solid #000000;
}

/* Multiplayer Join Game Menu */
#multiplayer-games-list {
	height: 256px;
}
#multiplayer-options-player {
	height: 256px;
}
#multiplayer-options-server {
	height: 256px;
}
#multiplayer-options-player-colour-picker {
	display: flex;
	flex-direction: column;
	align-items: center;
}
#multiplayer-options-player-colour-grid {
	display: grid;
	grid-gap: 5px;
	grid-template-columns: repeat(8, 16px);
}
.multiplayer-options-player-colour-cell {
	width: 16px;
	height: 16px;
	cursor: pointer;
	border: 1px solid #000000;
}
#multiplayer-options-player-colour-info {
	display: flex;
	flex-direction: column;
	align-items: center;
}
#multiplayer-options-player-selected-colour {
	padding: 0px;
	text-align: center;
	width: 150px;
	border: 1px solid #000000;
}


/* Game UI Elements */

/* Player Crosshair */
#crosshair {
	position: absolute;
	left: 50%;
	top: 50%;
	width: 20px;
	height: 20px;
	background: transparent;
	transform: translate(-50%, -50%);
}
#crosshair:before, #crosshair:after {
	content: '';
	position: absolute;
	background: #ffffff;
}
#crosshair:before {
	width: 2px;
	height: 100%;
	left: 50%;
	transform: translateX(-50%);
}
#crosshair:after {
	height: 2px;
	width: 100%;
	top: 50%;
	transform: translateY(-50%);
}

/* Chat Window */
#chat-container {
	max-height: 240px;
	position: absolute;
	bottom: 0px;
	left: 0px;
	padding: 10px;
	background-color: rgba(0, 0, 0, 0.0);
	color: #ffffff;
	transition: background-color 0.5s ease; /* Add transition for smooth color change */
}
#chat-container:focus-within {
	background-color: rgba(0, 0, 0, 0.5); /* Change the background color of the chat container */
}
#chat-log {
	overflow-y: auto;
	max-height: 168px;
}
#chat-message {
	width: 100%;
	height: 100%;
	margin-top: 2px;
	background-color: rgba(0, 0, 0, 0.1);
	border-color: rgba(0, 0, 0, 0.25);
	color: #ffffff;
	transition: background-color 0.5s ease; /* Add transition for smooth color change */
}
#chat-message:focus {
	background-color: rgba(0, 0, 0, 0.2); /* Change the background color of the input itself */
}
#chat-send {
	margin: 0px;
	background-color: rgba(108, 117, 125, 0.5);
	color: #ffffff;
}


/* Editor UI Elements */

/* Editor Panels */
.editor-panel {
	border: 1px solid #643200;
	border-radius: 0.375rem;
	background-color: #f4e4d4;
}
.editor-panel:hover {
	background-color: #d4c4b4;
	border-color: #643200;
	transition: background-color 0.3s ease;
}

/* Selected Objects Panel */
#editor-selected-objects-inner {
	overflow-y: scroll;
}

/* Selected Objects Colour Picker */
#editor-selected-objects-materials-colour-picker {
	display: flex;
	flex-direction: column;
	align-items: center;
}
#editor-selected-objects-materials-colour-grid {
	display: grid;
	grid-gap: 5px;
	grid-template-columns: repeat(8, 16px);
}
.editor-selected-objects-materials-colour-cell {
	width: 16px;
	height: 16px;
	cursor: pointer;
	border: 1px solid #000000;
}
#editor-selected-objects-materials-colour-info {
	display: flex;
	flex-direction: column;
	align-items: center;
}
#editor-selected-objects-materials-selected-colour {
	padding: 0px;
	text-align: center;
	width: 150px;
	border: 1px solid #000000;
}

/* Selected Objects Texture Picker */
#editor-selected-objects-materials-texture-picker {
	display: flex;
	flex-direction: column;
}
#editor-selected-objects-materials-texture-grid {
	display: grid;
	grid-gap: 5px;
	grid-template-columns: repeat(4, 64px);
}
.editor-selected-objects-materials-texture-image {
	width: 64px;
	height: 64px;
	object-fit: cover;
}
.editor-selected-objects-materials-texture-cell {
	cursor: pointer;
	border: 1px solid #643200;
}

/* Object Spawner */
#editor-spawn-tool-container {
	border: 4px solid #643200;
	background: #f4e4d4;
}
#editor-spawn-panel-objects {
	display: grid;
	grid-gap: 5px;
	grid-template-columns: repeat(8, 64px);
}
.editor-spawn-cell {
	cursor: pointer;
	border: 1px solid #643200;
	width: 64px;
	height: 64px;
	margin: auto;
}

/* Utility */
.hover-light-grey {
	transition: all 0.2s ease-in;
	background: #f4e4d4; 
	padding: 0.375em;
}
.hover-light-grey:hover {
	background: #d4c4b4;
	color: #161310;
}
.hover-light-gradient {
	transition: all 0.2s ease-in;
	background-color: #f4e4d4;
	background-image: linear-gradient(rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0));
	padding: 0.375em;
}
.hover-light-gradient:hover {
	background-color: #d4c4b4;
	background-image: linear-gradient(rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0));
	color: #161310;
}
.tiny {
	font-size: 0.75em !important;
}
.small-important {
	font-size: 0.875em !important;
}
.mt-2px {
	margin-top: 2px;
}
.mt-44px {
	margin-top: 44px;
}
.mb-9px {
	margin-bottom: 9px;
}
.me-neg2px {
	margin-right: -2px;
}
.pe-20px {
	padding-right: 20px;
}
.pb-2px {
	padding-bottom: 2px;
}
.w-0 {
	width: 0px;
}
.w-36px {
	width: 36px;
}
.h-85 {
	height: 85% !important;
}
.h-138px {
	height: 138px;
}
.cursor-pointer {
	cursor: pointer;
}
.bg-white-75 {
	background-color: rgba(255, 255, 255, 0.75);
}
.border-brown {
	border: 12px solid #643200;
}
.border-start-lg {
	border-left: none;
}
@media (min-width:992px) {
	.border-start-lg {
		border-left: 1px solid #dee2e6 !important;
	}
	.border-start-lg-brown {
		border-left: 1px solid #643200 !important;
	}
}


/* Third-Party Library Overrides */

/* Bootstrap Colours */
.bg-body-secondary {
	background-color: #f4e4d4 !important;
}

/* Bootstrap Text */
.fw-bold {
	color: #643200;
}
.text-secondary {
	color: #643200 !important;
}
.text-bg-light {
	color: #643200 !important;
	background-color: #f4e4d4 !important;
}

/* Bootstrap Badge */
.badge {
	--bs-badge-color: #643200;
}

/* Bootstrap Border */
.border {
	--bs-border-color: #643200 !important;
}
.border-bottom {
	--bs-border-color: #cab299 !important;	
}

/* Bootstrap Button */
.btn-secondary {
	--bs-btn-color: #ffffff;
	--bs-btn-bg: #643200;
	--bs-btn-border-color: #643200;
	--bs-btn-hover-color: #ffffff;
	--bs-btn-hover-bg: #6b2d00;
	--bs-btn-hover-border-color: #662900;
	--bs-btn-focus-shadow-rgb: 130, 138, 145;
	--bs-btn-active-color: #ffffff;
	--bs-btn-active-bg: #662900;
	--bs-btn-active-border-color: #5a2400;
	--bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
	--bs-btn-disabled-color: #ffffff;
	--bs-btn-disabled-bg: #643200;
	--bs-btn-disabled-border-color: #643200;
}
.btn-check:disabled + .btn, .btn-check[disabled] + .btn {
	--bs-btn-color: #af8b66;
	--bs-btn-border-color: #af8b66;
}
.btn-check:hover + .btn {
	color: #ffffff;
	background-color: #643200;
	border-color: #643200;
}
.btn-outline-secondary {
	--bs-btn-color: #643200;
	--bs-btn-border-color: #643200;
	--bs-btn-hover-color: #fff;
	--bs-btn-hover-bg: #643200;
	--bs-btn-hover-border-color: #643200;
	--bs-btn-focus-shadow-rgb: 108,117,125;
	--bs-btn-active-color: #fff;
	--bs-btn-active-bg: #643200;
	--bs-btn-active-border-color: #643200;
	--bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
	--bs-btn-disabled-color: #af8b66;
	--bs-btn-disabled-bg: transparent;
	--bs-btn-disabled-border-color: #af8b66;
	--bs-gradient: none;
}

/* Bootstrap Tooltip */
.tooltip-inner {
	color: #ffffff;
	background-color: #321600;
	box-shadow: 0px 0px 4px #000000;
	opacity: 1 !important;
}
.tooltip.bs-tooltip-right .tooltip-arrow::before {
	border-right-color: #643200 !important;
}
.tooltip.bs-tooltip-left .tooltip-arrow::before {
	border-left-color: #643200 !important;
}
.tooltip.bs-tooltip-bottom .tooltip-arrow::before {
	border-bottom-color: #643200 !important;
}
.tooltip.bs-tooltip-top .tooltip-arrow::before {
	border-top-color: #643200 !important;
}

/* Bootstrap Forms */
.input-group-text {
	color: #643200 !important;
	background-color: #f4e4d4 !important;
	border-color: #643200 !important;
}
.input-group-text:hover {
	color: #643200 !important;
	background-color: #d4c4b4 !important;
	border-color: #643200 !important;
}
.form-control {
	border-color: #643200 !important;
}
.form-control:focus {
	box-shadow: 0 0 0 .25rem rgba(128, 64, 0, 0.25);
}
.form-select {
	--bs-border-color: #643200 !important;
}
.form-select:focus {
	border-color: #643200;
	outline: 0;
	box-shadow: 0 0 0 0.25rem rgba(128, 64, 0, 0.25);
}
.form-check-input {
	background-color: #ffffff;
	border-color: #643200;
}
.form-check-input:checked {
	background-color: #ffffff;
	border-color: #643200;
}
.form-check-input:focus {
	border-color: #643200;
	outline: 0;
	box-shadow: 0 0 0 0.25rem rgba(128, 64, 0, 0.25);
}
.form-switch .form-check-input {
	--bs-form-switch-bg: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'><circle r='3' fill='rgba(123, 63, 0, 1)'/></svg>") !important;
}
.form-check-input:checked[type="checkbox"] {
	--bs-form-switch-bg: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'><circle r='3' fill='rgba(123, 63, 0, 1)'/></svg>") !important;
}

/* Bootstrap Navbar */
.nav-tabs {
	--bs-nav-link-color: #000000 !important;
	--bs-nav-tabs-link-active-color: #643200 !important;
	--bs-nav-link-hover-color: #643200 !important;
	--bs-nav-tabs-link-active-bg: #f4e4d4 !important;
	--bs-nav-tabs-border-color: #643200 !important;
	--bs-nav-tabs-link-active-border-color: #643200 !important;
	--bs-nav-tabs-link-hover-border-color: #cab299 !important;
}

/* Bootstrap Accordion */
.accordion {
	--bs-accordion-btn-icon: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='none' stroke='%23643200' stroke-linecap='round' stroke-linejoin='round'><path d='M2 5L8 11L14 5'/></svg>");
	--bs-accordion-btn-active-icon: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='none' stroke='%23643200' stroke-linecap='round' stroke-linejoin='round'><path d='M2 5L8 11L14 5'/></svg>");
}
.accordion-title {
	color: #643200 !important;
	background-color: #f4e4d4 !important;
	border-color: #643200 !important;
	display: flex;
	align-items: center;
	padding: 0.375rem 0.75rem;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	text-align: center;
	white-space: nowrap;
	background-color: var(--bs-tertiary-bg);
	border-top-left-radius: 6px !important;
	border-top-right-radius: 6px !important;
	border-top: var(--bs-border-width) solid #643200;
	border-bottom: var(--bs-border-width) solid #643200;
}
.accordion-title:has(.collapsed) {
	border-bottom-left-radius: 6px !important;;
	border-bottom-right-radius: 6px !important;;
}
.accordion-button {
	color: #000000;
	background-color:#f4e4d4;
}
.accordion-button:focus {
	box-shadow: none;
}
.accordion-button:not(.collapsed) {
	color: #643200;
	background-color:#f4e4d4;
	box-shadow: none;
}
.accordion-item {
	color: #643200 !important;
	background-color: #ffffff !important;
	border-color: #643200 !important;
	border-top-left-radius: 6px !important;
	border-top-right-radius: 6px !important;
	border-bottom-left-radius: 6px !important;
	border-bottom-right-radius: 6px !important;
	border-top: none;
	border-bottom: none;
	border-left: var(--bs-accordion-border-width) solid #643200;
	border-right: var(--bs-accordion-border-width) solid #643200;
}
.accordion-collapse.show {
	border-bottom: var(--bs-accordion-border-width) solid #643200 !important;
}